/* ------------------------------------ */
/* 모바일 화면 css */
/* ------------------------------------ */

@media (max-width: 768px) {
  body {
    min-height: auto;
    overflow: auto;
    padding: 50px 0;
  }
  .main-content {
    flex-direction: column;
    width: 100%;
  }
  #settings-menu {
    width: 100%;
  }
  .modal-content {
    width: 80%;
  }
}

/* ------------------------------------ */
/* PC 화면 css */
/* ------------------------------------ */
@media (min-width: 769px) {
  body {
    min-height: 100vh;
    overflow: hidden;
  }
  .modal-content {
    width: 500px;
  }
}
